<div class="grid">
    <div class="kitchen__card"><img src="../../assets/kitchens/_home-page/main-craft.jpg" alt=""></div>
    <div class="kitchen__card"><img src="../../assets/kitchens/_home-page/main-grand.jpg" alt=""></div>
    <div class="kitchen__card"><img src="../../assets/kitchens/_home-page/main-merenge.jpg" alt=""></div>
    <div class="kitchen__card"><img src="../../assets/kitchens/_home-page/main-nota.jpg" alt=""></div>
    <div class="kitchen__card"><img src="../../assets/kitchens/_home-page/main-rondo.jpg" alt=""></div>
    <div class="kitchen__card"><img src="../../assets/kitchens/_home-page/main-tango.jpg" alt=""></div>
</div>
